/* All CSS colors as props:hex */
:root {
	/* Red colors */
	--color-lightsalmon: #FFA07A;
	--color-salmon: #FA8072;
	--color-darksalmon: #E9967A;
	--color-lightcoral: #F08080;
	--color-indianred: #CD5C5C;
	--color-crimson: #DC143C;
	--color-firebrick: #B22222;
	--color-red: #FF0000;
	--color-darkred: #8B0000;
	/* Orange colors */
	--color-coral: #FF7F50;
	--color-tomato: #FF6347;
	--color-orangered: #FF4500;
	--color-gold: #FFD700;
	--color-orange: #FFA500;
	--color-darkorange: #FF8C00;
	/* Yellow colors */
	--color-lightyellow: #FFFFE0;
	--color-lemonchiffon: #FFFACD;
	--color-lightgoldenrodyellow: #FAFAD2;
	--color-papayawhip: #FFEFD5;
	--color-moccasin: #FFE4B5;
	--color-peachpuff: #FFDAB9;
	--color-palegoldenrod: #EEE8AA;
	--color-khaki: #F0E68C;
	--color-darkkhaki: #BDB76B;
	--color-yellow: #FFFF00;
	/* Green colors */
	--color-lawngreen: #7CFC00;
	--color-chartreuse: #7FFF00;
	--color-limegreen: #32CD32;
	--color-lime: #00FF00;
	--color-forestgreen: #228B22;
	--color-green: #008000;
	--color-darkgreen: #006400;
	--color-greenyellow: #ADFF2F;
	--color-yellowgreen: #9ACD32;
	--color-springgreen: #00FF7F;
	--color-mediumspringgreen: #00FA9A;
	--color-lightgreen: #90EE90;
	--color-palegreen: #98FB98;
	--color-darkseagreen: #8FBC8F;
	--color-mediumseagreen: #3CB371;
	--color-seagreen: #2E8B57;
	--color-olive: #808000;
	--color-darkolivegreen: #556B2F;
	--color-olivedrab: #6B8E23;
	/* Cyan colors */
	--color-lightcyan: #E0FFFF;
	--color-cyan: #00FFFF;
	--color-aqua: #00FFFF;
	--color-aquamarine: #7FFFD4;
	--color-mediumaquamarine: #66CDAA;
	--color-paleturquoise: #AFEEEE;
	--color-turquoise: #40E0D0;
	--color-mediumturquoise: #48D1CC;
	--color-darkturquoise: #00CED1;
	--color-lightseagreen: #20B2AA;
	--color-cadetblue: #5F9EA0;
	--color-darkcyan: #008B8B;
	--color-teal: #008080;
	/* Blue colors */
	--color-powderblue: #B0E0E6;
	--color-lightblue: #ADD8E6;
	--color-lightskyblue: #87CEFA;
	--color-skyblue: #87CEEB;
	--color-deepskyblue: #00BFFF;
	--color-lightsteelblue: #B0C4DE;
	--color-dodgerblue: #1E90FF;
	--color-cornflowerblue: #6495ED;
	--color-steelblue: #4682B4;
	--color-royalblue: #4169E1;
	--color-blue: #0000FF;
	--color-mediumblue: #0000CD;
	--color-darkblue: #00008B;
	--color-navy: #000080;
	--color-midnightblue: #191970;
	--color-mediumslateblue: #7B68EE;
	--color-slateblue: #6A5ACD;
	--color-darkslateblue: #483D8B;
	/* Purple colors */
	--color-lavender: #E6E6FA;
	--color-thistle: #D8BFD8;
	--color-plum: #DDA0DD;
	--color-violet: #EE82EE;
	--color-orchid: #DA70D6;
	--color-fuchsia: #FF00FF;
	--color-magenta: #FF00FF;
	--color-mediumorchid: #BA55D3;
	--color-mediumpurple: #9370DB;
	--color-blueviolet: #8A2BE2;
	--color-darkviolet: #9400D3;
	--color-darkorchid: #9932CC;
	--color-darkmagenta: #8B008B;
	--color-purple: #800080;
	--color-indigo: #4B0082;
	/* Pink colors */
	--color-pink: #FFC0CB;
	--color-lightpink: #FFB6C1;
	--color-hotpink: #FF69B4;
	--color-deeppink: #FF1493;
	--color-palevioletred: #DB7093;
	--color-mediumvioletred: #C71585;
	/* White colors */
	--color-white: #FFFFFF;
	--color-snow: #FFFAFA;
	--color-honeydew: #F0FFF0;
	--color-mintcream: #F5FFFA;
	--color-azure: #F0FFFF;
	--color-aliceblue: #F0F8FF;
	--color-ghostwhite: #F8F8FF;
	--color-whitesmoke: #F5F5F5;
	--color-seashell: #FFF5EE;
	--color-beige: #F5F5DC;
	--color-oldlace: #FDF5E6;
	--color-floralwhite: #FFFAF0;
	--color-ivory: #FFFFF0;
	--color-antiquewhite: #FAEBD7;
	--color-linen: #FAF0E6;
	--color-lavenderblush: #FFF0F5;
	--color-mistyrose: #FFE4E1;
	/* Gray colors */
	--color-gainsboro: #DCDCDC;
	--color-lightgray: #D3D3D3;
	--color-silver: #C0C0C0;
	--color-darkgray: #A9A9A9;
	--color-gray: #808080;
	--color-dimgray: #696969;
	--color-lightslategray: #778899;
	--color-slategray: #708090;
	--color-darkslategray: #2F4F4F;
	--color-black: #000000;
	/* Brown colors */
	--color-cornsilk: #FFF8DC;
	--color-blanchedalmond: #FFEBCD;
	--color-bisque: #FFE4C4;
	--color-navajowhite: #FFDEAD;
	--color-wheat: #F5DEB3;
	--color-burlywood: #DEB887;
	--color-tan: #D2B48C;
	--color-rosybrown: #BC8F8F;
	--color-sandybrown: #F4A460;
	--color-goldenrod: #DAA520;
	--color-peru: #CD853F;
	--color-chocolate: #D2691E;
	--color-saddlebrown: #8B4513;
	--color-sienna: #A0522D;
	--color-brown: #A52A2A;
	--color-maroon: #800000;
}